@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(128,176,210,0.71);
  @media screen and (min-width: 1200px) {
    background-size: cover !important;
    background-position: initial;
  }
}
body.page-index {
  background-image: url('../img/bg-index.jpg');
}
body.page-form {
  background-image: url('../img/bg-form.jpg');
}
body.page-report {
  background-image: url('../img/bg-report.jpg');
}

// removing default blue background from inputs when autofilling
@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent; } }

@keyframes autofill {
  to {
    color: #666;
    background: transparent; } }

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  animation-name: autofill;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }


@media screen and (max-width: 991px){
  .card-body:not(.exclude-min-height) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 97vh !important;
  }
}
